.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 15px;
  background-color:rgba(15,71,77, 0.3);
  border-radius: 1rem;
  color: #fff;
}
.box__title{
  font-size: 2rem;
}
.box__desc{
  text-align: left;
  font-size: 1rem;
}
.box__q{
  align-self: flex-end;
}
.box__btn{
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: rgba(15,71,77,0.6);
}
@media screen and (max-width: 890px) {
  .box__title{
    font-size: 1.5rem;
  }
  .box__q{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 530px) {
  .box__title{
    font-size: 1.2rem;
  }
}