.container{
  width: 100%;
  padding-bottom: 50vh;
  display: flex;
  background-color: cadetblue;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.chart{
  width: 70vw;
  height: 40vh;
  margin-top: 40px;
}
@media screen and (max-width: 890px) {
  .chart{
    margin-top: 0;
  }
}