.container{
  width: 100%;
  padding-bottom: 20vh;
  display: flex;
  background-color: rgba(204, 229, 235,1);
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container__question{
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}