.container{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  font-family: 'Raleway', sans-serif;
}
.themes{
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}
@media screen and (max-width: 890px) {
  .themes{
   width: 70vw;
  }
}
@media screen and (max-width: 530px) {
  .themes{
   width: 80vw;
  }
}