.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 15px;
  background-color:rgba(15,71,77, 0.1);
  border-radius: 1rem;
  color: #fff;
}
.box__question{
  color:rgb(66, 72, 74);
}