.container{
  width: 50vw;;
}
.search{
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 890px) {
  .container{
    width:65vw;
  }
}
@media screen and (max-width: 530px) {
  .container{
    width:70vw;
  }
}